.textarea {
    position: relative;
    height: 117px;
    width: 100%;
    margin-bottom: 26px;

    label {
        position: absolute;
        text-align: left;
        color: #7F8A9B;
        font-size: 12px;
        line-height: 14.52px;
        padding: 6px 16px 2px 14px;
    }

    textarea {
        resize: none;
        padding: 23px 16px 0px 14px;
    }
}